<section id="recent-works">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Understand Umbraco</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row" style="margin-left:-30px!important; margin-right:-30px!important">
            <div class="col-xs-12 col-sm-6 col-md-4 single-work">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/rc6.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a class="preview" href="images/portfolio/rc6.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 single-work">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/rc7.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a class="preview" href="images/portfolio/rc7.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 single-work">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/rc2.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a class="preview" href="images/portfolio/rc2.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-xs-12 col-sm-6 col-md-4 single-work">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/rc2.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a class="preview" href="images/portfolio/rc2.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 single-work">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/back.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a class="preview" href="images/portfolio/back.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 single-work">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="images/portfolio/back.png" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a class="preview" href="images/portfolio/back.png" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <!--/.row-->
        <div class="clearfix text-center">
            <br>
            <br>
            <a href="/contact-us-2" class="btn btn-primary">Show More</a>
        </div>
    </div>
    <!--/.container-->
</section>
