<div class="page-title" style="background-image: url(images/page-title.png)">
    <h1>About us</h1>
</div>

<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="about-img">
                    <img src="images/aboutus5.png" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="about-content">
                    <h2>Who we are</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt turpis eu mauris dapibus, eu molestie erat ultrices. Donec tellus velit, suscipit non justo et, consectetur lobortis nisi. Vestibulum non auctor enim. Mauris accumsan ipsum eget elementum faucibus. Quisque consequat ullamcorper interdum.  </p>
                </div>
            </div>
        </div>
    </div>
</section>
