<div class="page-title" style="background-image: url(images/page-title.png)">
    <h1>Services</h1>
</div>

<section id="services" class="service-item">
    <div class="container">
        <div class="center fadeInDown">
            <h2>Our Service</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/ux.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">UI/UX Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/web.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Web Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/motion.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Motion Graphics</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/mobile-ui.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Mobile UI/UX</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/web-app.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Web Applications</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/services/mobile-ui.svg">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">SEO Marketing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--/#services-->
